body {
  font-family: sans-serif;
  background-color: #f4f6f8;

  display: flex;
  justify-content: center; /* 가로 가운데 */
  align-items: center;     /* 세로 가운데 */
  min-height: 100vh;       /* 화면 전체 높이 */
}

.container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}



.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.todo-item span {
  flex: 1;
  margin-left: 10px;
  cursor: pointer;
}

/* 완료된 Todo */
.todo-item span.done {
  color: #9ca3af;
  text-decoration: line-through;
}


button {
  cursor: pointer;
  background: #969696;
  color: white;
  padding: auto;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}


/* Quote 컴포넌트 스타일 */

.quote-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;   /* 항상 가운데 */
  margin: 20px 0;
  border: #000000 1px solid;
  padding: 15px;
  border-radius: 8px; 

}

.quote-box h3 {
  min-height: 24px;

  margin-bottom: 10px;
  text-align: center;
    

}

/* Clock 컴포넌트 스타일 */

.clock {
  /* margin: 15px 0 25px; */
  padding: 10px 20px;
  background: #e9e9e9;
  border-radius: 8px;
}

.clock-time {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
}
